@import url(theme/theme.css);

.link-list {
    list-style-type: none; /* Loại bỏ dấu đầu dòng (bullet) */
    padding-left: 0; /* Loại bỏ padding bên trái */  
}

.link-list li{
    margin-left: 0; /* Loại bỏ margin bên trái của mỗi mục */
    padding-bottom: 24px;
}

a {
    text-decoration: none;
    color: var(--color-on-background-light);

}

a :hover {
    color: var(--color-primary-light);
}

.footer-head {
    color: var(--color-on-primary-fixed-light);
    /* padding-bottom: 24px; */
    margin-bottom: 24px;
}

.label-link-icon {
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử con */
    align-items: center; /* Căn chỉnh theo trục đứng */  
}

.label-link-icon img {
    margin-right: 16px;
}

.footer-logo {
    width: 120px;
}

.body-small {
    color: var(--color-on-background-light);
}

.copy-right {
    margin-bottom: 64px;
}

.footer-line {
    margin-bottom: 20px;
}

.footer-social-icon {
    margin-right: 16px;
}

.footer-list-social-icon {
    padding-bottom: 24px;
}

