@import url(../../theme/theme.css);

.container {
    background-size: cover;
    max-width: 100%;
    height: auto;
}
.tag {
    border-radius: 10px;
    padding: 2px 5px;
    background: #D8E2FF;
    margin-right: 10px;
  }