@import url(\Pop4u_Group2\theme\theme.css);
body {
    margin: 0;
    padding-top: 72px; /* Ensure content starts below the fixed navbar */
  }
  
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
    z-index: 1000; /* Ensure the navbar stays above other content */
  }
  
  #navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px; /* Adjust spacing as needed */
    margin-left: 4.4%;
    margin-right: 4.4%;
  }
  
  #navbar h1 {
    margin: 0;
    font-size: 24px;
    /* You can style the logo here */
  }
  
  #navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #navbar ul li {
    margin-right: 32px; /* Adjust spacing between items */
  }
  
  #navbar ul li:last-child {
    margin-right: 0;
  }
  
  #navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  #navbar ul li a:hover {
    color: #3F5AA9; /* Change color on hover */
  }

  .nav-list-icons {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .icon {
    color: var(--color-primary-light);
    display: flex;
    margin-right: 24px;
    transition: color 0.3s;
  }
  .nav-list-icons  :last-child {
    margin-right: 0;
  }

  .icon i a: hover {
    color: #ff0000;
  }
  
/* Thêm hiệu ứng khi cuộn */
    #navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  #navbar.scrolled {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
    