@import url(../../theme/theme.css);

body {
    padding-bottom: em;
}

.banner-artist {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 310px;
    background: linear-gradient(60deg, #673E96, #E13A3E, #E07900 90%);
    color: white;
    font-size: 24px;
    border-radius: 1em;
    margin-bottom: 0em;

}

.banner_tet {
    border-radius: 1em;
}

/* filtering */

.tag {
    border-radius: 10px;
    padding: 2px 5px;
    background: #D8E2FF;
    margin-right: 10px;
}

.price-inner {
    font-weight: bold;
    margin-right: 10px;
    font-size: larger;
}

.price-del {
    color: #888;
    font-size: medium;
}

.img-product-main {
    width: 100%;
}

/* sidebar */
.filtering {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.mycheckbox {
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 5px;
}

.recommend {
    display: flex;
    text-align: center;
    /* margin-left: 12em; */
    margin-top: 2em;
    margin-bottom: 1em;

}

.searchbar {
    width: 50em;
    height: 3em;
    border-radius: 2em;
    text-align: center;
    color: var(--color-primary-light);
    background: linear-gradient(90deg, #e1384e, #f46626, #b48f21);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    ;
}

.rec-btn {
    /* padding: px 10px; */
    height: 2em;
    width: 6em;
    /* margin-right: 2em; */
    margin-left: 1em;
    background: transparent;
    border: 0.6px solid #333;
    border-radius: 1em;
    cursor: pointer;
    font-family: var(--inter);
    font-weight: var(--font-semibold);
    font-size: 18px;
}

.buttons :hover {
    background: var(--color-tertiary-container-light);
    border: var(--color-primary-light);

}

/* Style Card */

.tag {
    border-radius: 10px;
    padding: 2px 5px;
    background: #D8E2FF;
    margin-right: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20rem;
    margin-top: 2rem;
    z-index: -2;
}

.card {
    /* margin: 20px; */
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
}

.card-details {
    width: 13rem;
}

.card-img {
    width: 13rem;
    margin-bottom: 1rem;
}

.card-title {
    margin-bottom: 1rem;
}

.card-reviews {
    margin-bottom: 1rem;
    display: flex;
}

.rating-start {
    color: #d5ab55;

}

.rating {
    font-size: 0.9 rem;
    margin-left: 10px;
}

.product-box-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-box-price .price-inner {
    font-weight: bold;
    margin-right: 10px;
}

.product-box-price .price-del {
    color: #888;
}