/* CartPage.css */
@import url(../../theme/theme.css); 
.cart-page {
    display: flex;
    justify-content: space-between;
  }
  
  .cart-items {
    flex: 1;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 100px;
    margin-right: 20px;
  }
  
  .section-frame {
    flex: 0 0 30%;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid var(--theme-secondary3, #11448F);
  }

  .quantity{
    border:none;
    width: 50px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 16px;
    background: var(--theme-secondary1, #D8E2FF);
    text-align: center;
}

.margin {
    margin: 10px;
  }

  .center{
    text-align: center;
    align-content: center;
  }


  .order-now{
    margin-top: 20px;
    margin-left: 50px;
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 36px;
  background: var(--theme-primary1, #325DA8);
  border:none;
  }

  .apply{
    background-color:  #325DA8;
    border:none;
    border-radius: 16px;
    width: 80px;
    height: 30px;
  }

  .coupon-frame{
    flex: 0 0 30%;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid var(--theme-secondary3, #11448F);
  }