@import url(../../theme/theme.css);

body{
    background-color: var(--color-surface-light);
}


.payment-info, .payment-amount {
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 2em;
    margin-bottom: 5em;
}

.payment-amount {
    border: 0.1em solid var(--color-tertiary-light);
}

.payment-info {
    border: 0.1em solid var(--color-primary-light);
}
.button-back a .icon-back {
    margin-right: 1em;
}

.button-back a span {
    line-height: 0.75;
    margin: 0;

}

.payment-title {
    margin-bottom: 5em;
    margin-top: 3em;
    text-align: center;
}

.payment-title .head4 {
    color: var(--color-primary-light);
    text-align: center;
}

.payment-input {
    margin-bottom: 1em;
}

.payment-field {
    padding-left: 3.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    border: 0.1em solid var(--color-surface-tint-light);
    border-radius: 1em;
    outline: none; 
    transition: border-color 0.3s, box-shadow 0.3s, background 0.3s;
    background-color: transparent;
    height: 3.5em;
    width: 100%;
}

.payment-field:focus {
    border-color: var(--color-on-primary-fixed-variant-light); 
    box-shadow: 0 0 3em rgba(25, 118, 210, 0.5), inset 0 0 0.5em rgba(186, 225, 255, 0.3);
}

.payment-field:autofill, input {
    background: transparent;
    color: transparent;
    background-color: transparent;

}

.payment-field:-webkit-autofill, input {
    background: transparent;
    color: transparent;
    background-color: transparent;
}

#name{
    background: transparent url("../../theme/images/motion_photos_auto.svg") no-repeat 1em;
}

#email {
    background: transparent url("../../theme/images/alternate_email.svg") no-repeat 1em;
}

#phone {
    background: transparent url("../../theme/images/call.svg") no-repeat 1em;
}


#detail-address {
    background: transparent url("../../theme/images/domain.svg") no-repeat 1em;
}


#province, #district {
    width: 30%;
    float: left; 
    margin-right: 5%;
    margin-bottom: 1em;
}

#ward {
    width: 30%;
    float: left; 
    margin-bottom: 1em;

}

@media (max-width: 992px) {
    #province, #district, #ward {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .payment-info, .payment-amount {
        padding: 2em;
    }
}

.shippping-address {
    margin-bottom: 2em;
}

.shippping-address h6, .payment-method h6, .payment-amount h6{
    text-align: left;
    margin-bottom: 1.25em;
    padding-left: 0.25em;
    color: var(--color-primary-light);
}

.payment-method label {
    margin-bottom: 2em;
}

.payment-method label span {
    margin-left: 1em;
    margin-right: 1em;
}

.payment-method label span:hover {
    color: var(--color-primary-light);
}

.payment-method-icon {
    width: 2em;
    
}

input[type="radio"] {
    transform: scale(1.5);
    color: var(--color-on-primary-fixed-light);
}

input[type="radio"]:checked {
    color: #e74c3c; /* Màu sắc của radio button khi được chọn */
  }

.product-total {
    text-align: right;
}

.sub-title span {
    font-weight: var(--font-semibold);
    color: var(--color-primary-light);
}

.sub-title {
    margin-bottom: 1em;
}

.payment-product {
    width: 100%;
    display: flex;
    align-items: flex-start; /* Để căn các div theo bên trên */
}

.payment-product div {
    display: inline-block;
}

.payment-product .product-pic {
    width: 20%;
}

.payment-product .product-des {
    width: 55%;
}

.payment-product .product-total {
    width: 25%;
}

.product-pic img {
    width: 80%;
    border-radius: 1em;
    height: 80%;
    object-fit: cover;  
}

p {
    margin: 0; /* Đặt margin về 0 để xóa khoảng cách giữa các thẻ p */
    padding: 0; /* Đặt padding về 0 để xóa khoảng cách nội dung giữa các thẻ p */
}

.product-option {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.5em;
    background-color: var(--color-on-primary-fixed-variant-light);
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.product-option p {
    color: var(--color-surface-light);
}

.product-price span {
    margin-right: 0.5em;
}

.payment-product-list, .total-amount {
    margin-bottom: 3em;
}

.total-amount div {
    margin-bottom: 1em;
}

.total-amount div :last-child {
    margin-bottom: 0em;
}

.total-price .body-medium,
.total-shipping .body-medium,
.total-discount .body-medium,
.total-bill .body-medium {
    color: var(--color-primary-light);
    font-weight: var(--font-semibold);
}

.total-price .price,
.total-shipping .price,
.total-discount .price,
.total-bill .price {
    margin-left: 0.5em;
}