@import url(../../theme/theme.css);
/* @import url(node_modules/bootstrap/dist/css/bootstrap-grid.min.css); */

.nav-list {
    overflow: hidden;
}

.nav-list ul li {
    display: inline-block;
    margin-left: 5%;
    text-align: center;
}

.nav-list ul li :last-child {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: var(--color-on-background-light);
}

a :hover {
    color: var(--color-primary-light);
}

a :active {
    color: var(--color-on-primary-container-light);
}

.nav-list-icons {
    text-align: right;
}

.nav-list-icons ul li {
    display: inline-block;
    margin-left: 5%;
}

.nav-list-icons ul li :last-child {
    margin-left: 0;
}

div.ml-lg-4>a.btn.btn-outline-success {
    margin: 0 !important;
    padding: 5px !important;
    border: none !important;
    outline: none !important;
}

div.ml-lg-4 {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
}

form {
    padding: 5px 0;
    margin: auto 5px;
}

input.form-control {
    height: 30px;
}

span.input-group-text {
    height: 30px;
}

span>svg {
    height: 20px !important;
    width: 20px !important;
}