@import url(../../theme/theme.css);

.section-1, 
.section-2, 
.section-3, 
.section-4, 
.section-5, 
.section-6,
.section-7,
.section-8,
.section-9 {
    margin-bottom: 5em;
}

/* .section-1 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;  
} 

.section-1 .visible {
    opacity: 1;
    transform: translateY(0);
} */


.about-us-logo {
    display: flex;
    justify-content: center;  
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-content-main {
    display: grid;
    place-items: center;  
    grid-row-gap: -0.5em;
    row-gap: -0.5em;
}

.main-statement {
    background: linear-gradient(60deg,#673E96 25%,#E13A3E,#E07900 90%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0.1em;
    margin-bottom: -0.03em;
    letter-spacing: -0.015em; 
    max-width: 12ch;
    white-space: pre-line;
    margin-block-start: 0.5em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
}

.head1 {
    animation: blurToClear 1s ease-in-out forwards;
   }
   
   @keyframes blurToClear {
     0% {
       filter: blur(0.75em);
       opacity: 0.7;
    }
     100% {
       filter: blur(0em);
       opacity: 1;
    }
}

#main-des {
    text-align: center;
    font-weight: var(--font-semibold);
    color: var(--color-on-surface-light);
    height: 6em;
}





.music-spectrum {
    width: 100%;
    display: flex; 
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center;
}


.side-img img{
    width: 100%;
    height: auto; 
    max-width: 100%; 
    max-height: 100%;
    display: block; 
    border-radius: 2em;
}


#core-value > * {
    margin-bottom: 24px;
}

#core-value > * last-child {
    margin-bottom: 24px;
    margin-bottom: 0;
}


/* .core-value-card {
    background-color: var(--color-inverse-primary-light);
    border-radius: 2em;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;  
}

.core-value-card h4 {
    text-align: center; 
    margin: 0; 
    font-weight: var(--font-bold);
    font-size: 40px;
    background: linear-gradient(45deg, var(--color-on-primary-fixed-light), var(--color-on-primary-fixed-variant-light) ); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
} */

.core-value-card {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-inverse-primary-light);
    border-radius: 2em;
    width: 100%;
    height: 200px;
}

.core-value-card h4, .core-value-card .head4 {
    text-align: center; 
    margin: 0; 
    font-weight: var(--font-bold);
    font-size: 40px;
    background: linear-gradient(45deg, var(--color-on-primary-fixed-light), var(--color-on-primary-fixed-variant-light) ); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}


.section-vision, .section-esg {
    border-radius: 2em;
    padding-top: 8em;
    padding-bottom: 8em;
}

.section-vision {
    background-image: -webkit-linear-gradient(60deg, var(--color-tertiary-container-light), var(--color-primary-fixed-dim-light) 90%); 
}

.vision, .esg {
    align-items: center;
    display: flex;
    justify-content: center;
}

.heading-about-us-center {
    text-align: center;
    color: var(--color-on-background-light);
    font-weight: 700;
    padding-bottom: 1em;
}

.heading-about-us-left {
    text-align: left;
    color: var(--color-on-background-light);
    padding-bottom: 1em;
    font-weight: 700;
}


.about-us-sec-statement {
    text-align: center; 
    margin: 0; 
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover; 
    background-position: center; 

}

.statement-script-side {
    color: var(--color-primary-light);
    font-weight: var(--font-bold);
    font-size: 40px;
    max-width: 80%;
}

.statement-script-center {
    color: var(--color-primary-light);
    font-weight: var(--font-bold);
    font-size: 40px;
    max-width: 80%;
    text-align: center;
}

.section-esg {
    position: relative;
    background-image: url("./images/green-forest.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.section-esg h5 {
    color: var(--color-on-background-light);
}

.esg h4 {
    color: var(--color-on-primary-fixed-light);
}

.dark-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)); /* Adjust the opacity and colors as needed */
}

/* .section-9 {
    background: radial-gradient(circle at 65% 20%, var(--color-primary-light) 0.5%, transparent 15%);

} */

.employee-card {
    text-align: center;
    background: radial-gradient(circle at 65% 20%, var(--color-primary-light) 0.5%, transparent 15%);
    margin-bottom: 5em;
}


.employee-img img {
    border-radius: 10em;
    object-fit: cover; 
    width: 12em;
    height: 12em;
    margin-bottom: 2em;
    margin-top: 1em;
}

.employee-name {
    background: linear-gradient(60deg,#673E96 25%,#E13A3E,#E07900 90%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin-bottom: none;
}

@media (max-width: 992px) {
    #main-des {
        height: 5em;
    }
    .section-3 div p:nth-child(3) {
        margin-bottom: 2em;
    }

    .section-7 div:nth-child(1) {
        margin-bottom: 2em;

    }
    
}

@media (max-width: 768px) {
    .main-statement {
        font-size: 72px;
        margin-bottom: 0.5em;
    }
    #main-des {
        height: 8em;
    }
}


@media (max-width: 576px) {
    .main-statement {
        font-size: 64px;
        margin-bottom: 0.5em;
    }
    #main-des {
        height: 8em;
    }
}
