@import url(../../../theme/theme.css); 
.section-frame-admin {
  flex: 0 0 10%;
  padding: 20px;
  border-radius: 40px;
  border: 1px solid var(--theme-secondary3, #11448F);
}

.margin {
  margin-left: 50px;
  margin-right: 50px;
} 
.input-custom {
  padding-left: 3.5em;
  padding-top: 2em;
  padding-bottom: 1.5em;
  padding-right: 1.5em;
  border: 0.1em solid var(--color-surface-tint-light);
  border-radius: 1em;
  outline: none; 
  transition: border-color 0.3s, box-shadow 0.3s, background 0.3s;
  color: var( --color-on-surface-variant-light);
  height: 1.5em;
  width: 100%;
}

.input-custom-price {
  padding-left: 3.5em;
  padding-top: 2em;
  padding-bottom: 1.5em;
  padding-right: 1.5em;
  border: 0.1em solid var(--color-surface-tint-light);
  border-radius: 1em;
  outline: none; 
  transition: border-color 0.3s, box-shadow 0.3s, background 0.3s;
  color: var( --color-on-surface-variant-light);
  height: 1.5em;
  width: 100%;
}
.input-custom:focus{
  border-color: var(--color-on-primary-fixed-variant-light); 
  box-shadow: 0 0 3em rgba(25, 118, 210, 0.5), inset 0 0 0.5em rgba(186, 225, 255, 0.3);

}

.input-button {
  border: 0.1em solid var(--color-surface-tint-light);
  border-radius: 5em;
  outline: none;
  transition: box-shadow 0.3s;
  height: 3.5em; 
  box-sizing: border-box; 
  color: var(--color-on-primary-light);
  background-color: var(--color-primary-light);
  width: 20%;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  transition: background 0.5s ease-in-out;
}

.input-button:hover {
  background: linear-gradient(60deg,#673E96,#E13A3E,#E07900 90%);
  border: 0; 

}
.input-button {
  border: 0.1em solid var(--color-surface-tint-light);
  border-radius: 5em;
  outline: none;
  transition: box-shadow 0.3s;
  height: 3.5em; 
  box-sizing: border-box; 
  color: var(--color-on-primary-light);
  background-color: var(--color-primary-light);
  width: 20%;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  transition: background 0.5s ease-in-out;
}

.input-button:hover {
  background: linear-gradient(60deg,#673E96,#E13A3E,#E07900 90%);
  border: 0; 

}