@import url(../../theme/theme.css);

.hp-banner {
  overflow: hidden;
}

.banner-carousel {
  border-radius: 40px;
  background-color: transparent;
  overflow: hidden;
  margin: 0;


}

.carousel-banner-img {
  border-radius: 40px;
  background-color: transparent;
  overflow: hidden;
  margin: 0;

}

.banner-carousel-item img {
  transition: all 0.5s;
}


.banner-carousel-item:hover img {
  transform: scale(1.1);
}

.banner-carousel-item {
  border-radius: 40px;
  background-color: transparent;
  color: transparent;
  overflow: hidden;
}

.homepage-header {
  text-align: center;
  margin-bottom: 32px;
}

.homepage-header h4 {
  color: var(--color-primary-light);
}

.product-box-price .price-inner {
  font-weight: bold;
  margin-right: 16px;
}

.product-box-price .price-del {
  color: #888; 
}

.tag {
  border-radius: 10px;
  padding: 2px 5px;
  background: #D8E2FF;
  margin-right: 10px;
}

.component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cat-card {
  width: 100%;
  padding: 7.5%;
  transition: all 0.5s;
  background-color: var(--color-secondary-container-light); 
  text-align: left;
  border-radius: 20px;
  margin-bottom: 24px;
  color: var(--color-primary-on-container-light);
}

.cat-card:hover {
  background: linear-gradient(135deg, var(--color-background-light) 15%, var(--color-primary-container-light));
}

.cat-card .cat-card-content h5 {
  transition: all 0.5s;
}


.cat-card:hover .cat-card-content h5 {
  margin-left: 24px;
  color: var(--color-primary-light);
}

@keyframes rotateCatIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cat-card .rotatable-svg {
  transition: all 0.5s;
}

.cat-card:hover .rotatable-svg{
  animation: rotateLeft 0.5s forwards;
}


.cat-card-content {
  width: 55%;
}

.cat-card-content a,
.cat-card-content a:hover, 
.cat-card-content a:active, 
.cat-card-content a:visited {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;   
}

.cat-card-icon {
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;

}

.cat-card-icon > * {
  width: 108px;
  height: 108px;
  text-align: center;
}

@media (max-width: 992px) {
  .cat-card-icon > * {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 992px) {
  .cat-card-content {
    width: 60%;
  }
  
  .cat-card-icon {
    width: 40%;
  }  
}

.cat-card-button {
  padding: 0.5em 2.5em;
  background-color: var(--color-secondary-container-light);
  border-radius: 5em;
  border: 2px solid var(--color-primary-light);
  margin-top: 0.5em;
  transition: background 0.3s;
}

.cat-card-button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-on-primary-light);
  box-shadow: 0 0 5em rgba(25, 118, 210, 0.4);
}

.cat-card-button:active {
  background-color: var(--color-secondary-container-light);
  color: var(--color-on-secondary-container-light);
}

.artist-card-item {
  width: 100%;
  flex: 1;
}

.btn.btn-default {  
  border-radius: 20px;
  border-style: solid;
  border-color: var(--theme-primary-1, #325da8);
  border-width: 1px;
}

.product > * {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: wrap; /* Prevent line breaks for inline elements */
  height: 494px;
  margin-right: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  /* margin: 20px; */
  border: 0.5px solid #ededed !important; 
  padding: 5px;
  cursor: pointer;
}

.benefit-card {
  background: var(--color-primary-container-light);
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 24px;
  transition: background-color 3s;
}

.benefit-card:hover {
  background: linear-gradient(180deg, var(--color-background-light) 15%, var(--color-primary-container-light));
}

.benefit img {
  width: 48px;
}

.benefit h6 {
  margin-top: 24px;
  margin-bottom: 28px;
  color: var(--color-on-primary-container-light);
  transition: all 0.5s;
}

.benefit-card:hover .benefit h6 {
  margin-top: 36px;
  margin-bottom: 16px;
}

.rotatable-svg {
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.benefit-card .rotatable-svg {
  transition: all 0.5s;
}

.benefit-card:hover .rotatable-svg {
  animation: rotateLeft 0.5s forwards;
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg) scale(1);
  }
  45% {
    transform: rotate(-35deg) scale(0.6); 
  }
  65% {
    transform: rotate(15deg) scale(1.1); 
  }
  85% {
    transform: rotate(0deg) scale(1); 
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}