.HeaderTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #ffff;
}
.title{
    position: absolute;
    font-family: 'Inter', sans-serif;
    color: #ffff;
}

.outerTag {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }
  
  .innerTag {
    padding: 7.5px 16px;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  
  /* Add additional styling based on your requirements */
  .textTag {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
  }



