@import url('../../theme/theme.css');

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 24px;
}

  .canhgiua{
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .user-details h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  /* Logout button styles */
  .logout-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #cc4125;
  }
  

.profile-title{
    margin-top: 3em;
    text-align: center;
}

.button-profile{
  border-radius: 16px;
  padding: 8px 20px;
  background: var(--color-primary-container-light);
  border: 1px solid var(--color-secondary-container-light);
  color: var(--color-on-primary-container-light);
  transition: all 0.3s;
}

.button-profile:hover{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

.button-profile:active {
  background: var(--color-primary-fixed-dim-light);
}