/* Style cho bảng */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  /* Style cho header của bảng */
  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style cho các dòng trong bảng */
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style cho hàng chẵn */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
.margin{
  margin:20px;
}  

.name {
    font-weight: bold;
    color: var(--color-surface-tint-light);
}
.input {
    margin-left: 2px;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark background with some transparency */
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-detail-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}