/* Style cho bảng */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  /* Style cho header của bảng */
  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  /* Style cho các dòng trong bảng */
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  /* Style cho hàng chẵn */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
.margin{
  margin:20px;
}  

.name {
    font-weight: bold;
    color: var(--color-surface-tint-light);
}
.input {
    margin-left: 2px;
}