@import url(../../../theme/theme.css);

.banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px; 
    color: white; 
    border-radius: 20px;
    margin-bottom: 48px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* .title{
    position: absolute;
    font-family: 'Inter', sans-serif;
    color: #ffff;
    font-size: 56px;
    font-weight: 700;
} */
.subtext {
    display: flex;
    gap: 36px;
    color: var(--color-secondary-light);
    margin: 24px 0px;
}

.subtext span {
    color: var(--color-secondary-light);
}

.Content .body-medium {
    color: var(--color-on-surface-light);
}

.PostTag{
    display: inline-block;
    border: 1px #D8E2FF solid;
    background: #D8E2FF;
    border-radius: 8px;
    padding: 4px 8px;
    margin-bottom: 16px;
}

.ContentTitle {
    font-size: 40px;
    font-weight: 700; 
    font-family: Inter;
}

.PostTitle>h1{
    color: #1B1B1F;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
}

.brieftext{
    font-size: 20px;
    color: var(--color-secondary-light);
}


.ParaImg{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 24px;
    border-radius: 20px;


}

.ParaImg img {
    display: block;
    border-radius: 20px;
    transition: all 0.5s;
}

.ParaImg img:hover {
    transform: scale(1.2);
}

.spTitle{
    color: #1B1B1F;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}

.spIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
   
}

.SharePost{
    align-items: center;
}

.PostFooter{
  display: flex;
  align-items: center;
  color: #4D4D4D;
    font-size: 20px;
    font-family: Inter;
    word-wrap: break-word;
}
.icon {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin-right: 8px; /* Optional: Add spacing between icons */
}