@import url(../../theme/theme.css); 

.tag {
  border-radius: 10px;
  padding: 2px 5px;
  background: #D8E2FF;
  margin-right: 10px;
}
  
.price-inner {
    font-weight: bold;
    margin-right: 10px;
    font-size:larger ;
  }
.price-del {
    color: #888; 
    font-size: medium;
  }

  .img-product-main {
    width:100%;
  }

  .checked {
    color: orange;
  }

  .btn {
    border: none;
    outline: none;
    padding: 10px 10px;
    cursor: pointer;
    margin: 5px;
  }

.option-box{
  border-radius: 8px;
  border: 1px solid var(--theme-trung-tinh4, rgba(60, 64, 67, 0.80));
  background: var(--theme-typo-label-light, #FFF);
}
  
.add-cart{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  width: 250px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 1px solid var(--theme-primary1, #325DA8);
  background: var(--theme-typo-label-light, #FFF);
}
.pay{
  margin-top: 20px;
  margin-left: 5px;
  width: 250px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 36px;
background: var(--theme-primary1, #325DA8);
}

.center{
  text-align: center;
}
.margin {
  margin: 10px;
}

.image-size{
  max-width: 90%;
}




.btn:hover {
  background-color:#D8E2FF;
}

.btn.active {
  background-color:#325DA8;
  color: white;
}

.quantity{
    border:none;
    width: 50px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 16px;
    background: var(--theme-secondary1, #D8E2FF);
    text-align: center;
}


.product-box-title{
  width: 80%;
}

.pre-line {
  white-space: pre-line;
}