
.sidebar {
    width: 220px;
    font-family: var(--inter);

}
.nav-item {
    /* display: flex; */
    gap: 2em;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 1em;
}
.nav-link:hover {
    background-color: #DBE1FF ;
    color: white;
    cursor: pointer;
}   
