.basic-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .basic-table th,
  .basic-table td {
    border: none;
    padding: 8px;
    text-align: left;
  }
  
  .Table:first-child {
    border-radius: 0.7rem;
  }
  
  .status {
    padding: 8px;
    border-radius: 9px;
  }
  
  .Details {
    color: #00b5ff;
  }
  
  @media screen and (max-width: 1200px) {
    .basic-table {
      width: 170%;
      margin-top: 2rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .basic-table {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23rem;
    }
  }